@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    /*produto*/
    --brand-color:#EF5F4C;
    /*shape*/
    --background-color:#FFFFFF;
    --sulface-color:#F5F5F5;
    --skeleton-color:#D9D9D9;
    --shape-transparency:#ffffff90;/*56%*/
    /*text*/
    --text-color-primary:#313131;
    --text-color-secondary:#6C6C6C;
    /*tipografia*/
    --font-family: "Poppins", sans-serif;
    --text-lg:32px/125% bold var(--font-family);
    --text-md:14px/170%  var(--font-family);
    --text-sm:12px/170% var(--font-family);
    --text:16px/1.5 var(--font-family);

}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color:var(--brand-color);
    text-decoration: underline;
}
.container{
    margin: 0 auto;
    padding: 0 32px;
    max-width: 1280px;

}
.bg-surface-color{
    background-color: var(--sulface-color)
}