
:root{
    font-family: "Alice", serif;
    --cor-primaria:#291B1A;
    --cor-secundaria:#573A37;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(.//img/4836d6ef652a1b7ed3ab5055124ddf45.avif);
    background-size: cover;
}
.caixa{
    width: 800px;
    background-color: #F0E8C2;
    padding: 24px;
    margin: 48px auto;
    border-radius: 24px;
}
h1,h2,h3{
    color: var(--cor-primaria);
    line-height: 150%;
}
h1{
    line-height: 140%;
}
p{
    color: var(--cor-secundaria);
}
ul{
      margin: 8px 0 18px 18px;
      padding-left: 8px;
    }
    li{ margin-bottom:6px; color: var(--cor-secundaria); }